{% extends 'customer/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-danger text-center mt-5">
                <h4>
                    SORRY, <br> 
                    Wrong credentials! <br> 
                    Go back to 
                    <a href="/car_dealer_portal/login/" class="alert-link">Login Page</a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}

