{% extends 'customer/base.html' %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
      <span class="navbar-brand">
          Customer Portal: {{ user.username }}
      </span>
      <div class="navbar-nav ms-auto">
          <a class="nav-link btn btn-outline-info me-2" href="/customer_portal/manage/">Manage</a>
          <a class="nav-link btn btn-outline-info" href="/customer_portal/logout/">Logout</a>
      </div>
  </div>
</nav>
<hr>


<!-- Search Form Container -->
<div class="container text-center position-relative" style="height:200px;">
  <div class="position-absolute top-50 start-50 translate-middle">
      <form class="needs-validation" action="/customer_portal/search_results/" method="post" novalidate>
          {% csrf_token %}
          <div class="mb-3">
              <label for="city" class="form-label h4">Enter City Name:</label>
              <input type="text" class="form-control" id="city" name="city" required>
              <div class="invalid-feedback">
                  Please enter a city name.
              </div>
          </div>
          <button type="submit" class="btn btn-success btn-lg">Search Car</button>
      </form>
  </div>
</div>

{% endblock %}
